.app-body {
    background-image:url(/assets/image.png); 
    background-repeat: repeat-y; 
    background-position: center top; 
}

.page-height {
    min-height: 300%;
}

.frame {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

    // center the quiz frame and set the max div size to 1500px
    max-width: 1500px; 
    margin:auto; 
    align-content: center;
}
