<form [formGroup]="form" (change)="submit()">
    <div><h4>Do you have any questions for our hair care experts?</h4>
        <label>Enter 'No' if there are no questions. </label>
        <mat-form-field style="width:100%;max-width:750px">
            <textarea matInput formControlName="questions" placeholder="Type your question(s) in here:"></textarea>
        </mat-form-field>
        <hr>
    </div>
    <div><h4>Research and Consent</h4>
        <div style="max-width:750px;">
            <br> <br> Our Research Program and Consent Form
            <br> <br> Last Updated: September 20, 2022
            <br> <br> Part of our mission is to participate in research for the purpose of expanding our knowledge and understanding of hair care, hair health, and personal care product development.
            <br> <br> If you are enrolled in our research program, you may be asked to provide various assessments about your hair, including, but not limited to, research questionnaire responses, photos of your hair, current hair product labels, your hair scalp photos,  and/or samples for laboratory assessment (collectively the “Reported  Information”). As part of our research program, we will aggregate this Reported Information, analyze data against  reference databases, benchmark data, literature, and provide insights about your hair condition and hair health. In addition, we will  analyze the grouped data in aggregate in order to unearth findings related to hair health and product development. Aggregate data will not reveal any personal information, all data will be masked and scrubbed for personal information. 
            <br> <br> If you are enrolled in our research program, we may use some or all of your information and Reported  Information to conduct research and publish the results of that research in peer-reviewed publications and other  works of literature. We also have the right to leverage aggregate data to optimize our proprietary algorithms.  Consumers have the right to individual data but no rights to our aggregate data. We take privacy very seriously. You  understand that, by providing any samples, having your hair and scalp information processed, accessing your hair analysis information, or providing your Reported Information, you acquire no rights in any research or  commercial products that may be developed by us or our collaborating partners and you specifically understand that  you will not receive compensation for any research or commercial products that include or result from your hair care information or Self-Reported Information.  
            <br> <br> We will not use any identifiable information about you or any other humans in our research or in any publication. Nor  will we identify your name or other identifying information in any publication.  
            <br> <br> At any time, you may withdraw your consent to participate in our research program by emailing us at  info&#64;foliq.me. Any withdrawal of consent will take effect after thirty (30) days. We will not reverse, undo or  withdraw any research or publication that was performed using your information before that date.  
            <br> <br> We may withdraw your Reported Information from, or terminate, any research we undertake at any time without  your consent. In all cases, your information will continue to be subject to our Privacy Policy available  on our website – <a href="www.foliq.me">www.foliq.me</a>.
        </div>
        <mat-form-field>
            <mat-label>Select an Option</mat-label>
            <select matNativeControl required formControlName="consent">
                <option value="yes">Yes</option>
            </select>
        </mat-form-field>
        <hr>
    </div>
    <div><h4>Please enter the order number associated with your hair analysis order</h4>
        <mat-form-field>
            <mat-label>Order Number: </mat-label>
            <input matInput formControlName="orderNumber" type="text">
        </mat-form-field>
    </div>
</form>