<div [formGroup]="form">
    <mat-radio-group formControlName="options">
        <table>
            <tr>
                <mat-radio-button value="1">pepperoni</mat-radio-button>
            </tr>
            <tr>
                <mat-radio-button value="2">extracheese</mat-radio-button>
            </tr>
            <tr>
                <mat-radio-button value="3">mushroom</mat-radio-button>
            </tr>
            <tr>
                <mat-radio-button value="none">none</mat-radio-button>
            </tr>
        </table>
    </mat-radio-group>
</div>

{{form.value | json}}