<div class="container-fluid">
    <h2>New Form:</h2>
    <!-- [formGroup] directive binds the .ts variable testForm to the .html-->
    <form [formGroup]="testForm">
        <div class="form-group">
            <label>Input One</label>
            <input formControlName="inputOne" type="text" class="form-control">
        </div>
        
        <div class="form-group">
            <label>Input Two</label>
            <input formControlName="inputTwo" type="text" class="form-control">
        </div>
        
        <button> Submit </button>
    </form>
    {{testForm.value | json}}
</div>