<table>
    <tr><label>Current Products: </label> <input type="file"></tr><hr>
    
    <tr><app-generic-checkbox [question]="hairConcernsQuestion" [options]="hairConcernsForm"></app-generic-checkbox></tr><hr>
    <tr><app-generic-checkbox [question]="scalpConcernsQuestion" [options]="scalpConcernsForm"></app-generic-checkbox></tr><hr>
    <tr><app-post-wash></app-post-wash></tr><hr>
    <tr><app-dry-time></app-dry-time></tr><hr>
    
    <tr><app-generic-checkbox [question]="humidityEffectQuestion" [options]="humidityEffectForm"></app-generic-checkbox></tr><hr>
    <tr><app-generic-checkbox [question]="treatmentHistoryQuestion" [options]="treatmentHistoryForm"></app-generic-checkbox></tr><hr>
    <tr><app-exersize-frequency-slider></app-exersize-frequency-slider></tr><hr>
    <tr></tr><hr>
</table>
