<h1> This is a Coin Counting App. </h1>
<h2>V3-Different types of questions</h2>
<app-quiz-frame></app-quiz-frame>
<hr>
<hr>
<h2>V2-Prototype userTable access</h2>
<div class='parent'>
  <div class='child inline-block-child'>
    <app-user-quiz></app-user-quiz>
  </div>
  <div class='child inline-block-child'>
    <p>block two</p>
  </div>
</div>
<hr>
<h2>V1-Airtable API</h2>
<div class='parent'>
  <div class='child inline-block-child'>
    <app-coin-input-form></app-coin-input-form>
  </div>
  <div class='child inline-block-child'>
    <app-coin-tally></app-coin-tally>
  </div>
</div>
<hr>
<h2>V0-Airtable iframe insert </h2>
<app-quiz> </app-quiz>

<router-outlet />