<h4 style="max-width:80%">{{question}}</h4>


<form [formGroup]="form">
    @for(option of options; track option.index) {
        <mat-checkbox [formControlName]=option.reference style="min-width:15em; max-width:200px;"> {{option.label}} </mat-checkbox>
    }
</form>



<!-- 
<table [formGroup]="form">
    <th colspan="10">Choose all that apply: </th>
    <tr></tr>
    @for(option of options; track option.index) {
        <td> <mat-checkbox [formControlName]=option.reference>{{option.label}}</mat-checkbox> </td>
        @if(0 == option.index % 4) { <tr></tr> }
    }
</table>
 -->


<h4>You chose:</h4>
{{ form.value | json}}