<form [formGroup]="form">
    <!-- for loop iterates through the different options for the radio buttons :O -->
    @for (option of options; track option.value) {
        <label>
            <input type="radio" [value]="option.value" formControlName="selectedOption">
            {{option.label}}
        </label><br>
    }

    <!-- validate if option si selected -->
    @if(form.get('selectedOption')?.invalid && form.get('selectedOption')?.touched) {
        <div class="error">ERROR: Please Select an Option</div>
    }
</form>