<form [formGroup]="form" style="background-color: darkgrey; width: 50%;">
    <mat-radio-group>
    <td>
        <tr><mat-radio-button value="1">Option 1</mat-radio-button></tr>
        <tr><mat-radio-button value="2">Option 2</mat-radio-button></tr>
        <tr><mat-radio-button value="3">Option 3</mat-radio-button></tr>
        <tr><mat-radio-button value="4">Option 4</mat-radio-button></tr>
        <tr><mat-radio-button value="5">Option 5</mat-radio-button></tr>
    </td>
    </mat-radio-group>
    <button type="submit">submit</button>
</form>