<form [formGroup]="form" (ngSubmit)="submit()" class="formFrame">
    <table>
        <tr>
            <mat-form-field>
                <mat-label>Name: </mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email: </mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zip Code: </mat-label>
                <input matInput type="text" pattern="[0-9]{5}" formControlName="zip">
            </mat-form-field>
            <mat-label>Note: we use the Zip Code to determine local water quality</mat-label>
        </tr>
        <tr>
            <mat-form-field style="width: 100%;">
                <mat-label>Additional Comments/Quesitons:</mat-label>
                <textarea matInput formControlName="textBody" placeholder="Type whatever you want in here"></textarea>
            </mat-form-field>
        </tr>
    </table>
    <button type="submit" >Submit</button>
</form>

<div>
  <table>
    <tr> <label>Name:</label> {{form.value.name}} </tr>
    <tr> <label>Email:</label> {{form.value.email}} </tr>
    <tr> <label>ZIP:</label> {{form.value.zip}} </tr>
    <tr> <label>Extra Long Message:</label> {{form.value.textBody}} </tr>
  </table>
</div>
