<h3>What do you typically do after washing your hair?</h3>
<div [formGroup]="form">
    <mat-radio-group formControlName="formOutput">
        <table>
            <th colspan="10">Select One:</th>
            <tr></tr>
            @for (option of options; track option.index) {
                <td> <mat-radio-button [value]=option.reference> {{option.label}} </mat-radio-button> </td>
                @if (0 == option.index % 4) { <tr></tr> }
            }
        </table>
    </mat-radio-group>
</div>

{{ form.value | json}}