<br>
<div class="flex-container" style="max-width:800px;">
    <div class="flex-item-left">
        <canvas #canvas [width]="canvasWidth" [height]="canvasHeight" style="border:1px solid #d3d3d3;"></canvas>
    </div>
    <div class="flex-item-right">
        <label>Wave Height Slider: </label>
        <div>
            <mat-slider style="width:300px" [min]="amplitudeParams.min" [max]="amplitudeParams.max" [step]="amplitudeParams.step" showTickMarks discrete [displayWith]="formatLabel">
                <input matSliderThumb [(value)]="amplitude" (input)="submitAmplitude($event)">
            </mat-slider>
        </div>
        <label>Frequency Slider: </label>
        <div>
            <mat-slider style="width:300px" [min]="periodParams.min" [max]="periodParams.max" [step]="periodParams.step" showTickMarks discrete [displayWith]="formatLabel">
                <input matSliderThumb [(value)]="period" (input)="submitPeriod($event)">
            </mat-slider>
        </div>
    </div>
</div>