<h1> This is the page of different componenets </h1>

<div [ngSwitch]="pageNumber" style="height:40%;">
    <div *ngSwitchCase="0">
        <ol>
            <h2>Table of Contents:</h2>
            <li>Slide Toggle</li>
            <li>forms</li>
            <li>slider</li>
            <li>four</li>
            <li>five</li>
        </ol>
        page0
    </div>
    <div *ngSwitchCase="1">
        <h3> slide toggle </h3>
        <a href="https://material.angular.io/components/slide-toggle/overview">link</a><br>
        <app-slide-toggle> </app-slide-toggle>
        <p>simple-components works!</p>
        <br>
        page1
    </div>
    <div *ngSwitchCase="2">
        <h3> forms </h3>
        <a href="https://material.angular.io/components/input/overview">link</a><br>
        <app-input></app-input>
        <br>
        page2
    </div>
    <div *ngSwitchCase="3">
        <h3> slider </h3>
        <a href="https://material.angular.io/components/slider/examples">link</a><br>
        <app-slider></app-slider>
        <br>
        page3
    </div>
    <div *ngSwitchCase="4">page4</div>
    <div *ngSwitchCase="5">page5</div>
    <div *ngSwitchDefault><h1>ERROR</h1></div>
</div>
<button mat-raised-button color="primary" (click)="home()">home</button>
<button mat-raised-button color="primary" (click)="backPage()">back</button>
<button mat-raised-button color="primary" (click)="nextPage()">next</button>
<form [formGroup]="form" (ngSubmit)="seekPage()">
    <input type="number" formControlName="pageQuery" style="width: 75px;">
    <button mat-raised-button color="primary" (click)="seekPage()">seek</button>
</form>
<br>