<mat-stepper orientation='vertical' #stepper [linear]="false" style="background-color: #f6f6f8; border-radius: 25px;">
    <mat-step> <ng-template matStepLabel>Initial Information</ng-template>
        <div>
            <table>
                <tr><app-user-table-form (userTableFormOutput)="GetData($event)"></app-user-table-form></tr>
                <tr><app-generic-checkbox [question]="raceEthnicityQuestion" [options]="raceEthnicityForm"></app-generic-checkbox></tr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step> <ng-template matStepLabel>Pictures</ng-template>
        <label> Submit the following pictures of your hair </label>
        <div>
            <table>
                <tr> <app-generic-file-submission [question]="middlePartPhotoQuestion"></app-generic-file-submission> </tr><hr>
                <tr> <app-generic-file-submission [question]="backHeadPhotoQuestion"></app-generic-file-submission> </tr><hr>
                <tr> <app-generic-file-submission [question]="rightTemplePhotoQuestion"></app-generic-file-submission> </tr><hr>
                <tr> <app-generic-file-submission [question]="leftTemplePhotoQuestion"></app-generic-file-submission> </tr><hr>
                <tr> <app-generic-file-submission [question]="currentProductsPhotoQuestion"></app-generic-file-submission> </tr><hr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step> <ng-template matStepLabel>Hair/Scalp Profile</ng-template>
        <div>
            <table>
                <tr><app-generic-checkbox [question]="hairConcernsQuestion" [options]="hairConcernsForm"></app-generic-checkbox></tr><hr>
                <tr><app-generic-checkbox [question]="scalpConcernsQuestion" [options]="scalpConcernsForm"></app-generic-checkbox></tr><hr>
                <tr><strong>hair texture placeholder</strong></tr><hr>
                <tr><app-generic-radiobutton [question]="postWashQuestion" [options]="postWashOptions"></app-generic-radiobutton></tr><hr>
                <tr><app-generic-thumb-label-slider [question]="dryTimeQuestion" [min]="dryTimeParam.min" [max]="dryTimeParam.max" [step]="dryTimeParam.step" [unit]="dryTimeParam.unit"></app-generic-thumb-label-slider><hr>
                <tr><app-generic-checkbox [question]="humidityEffectQuestion" [options]="humidityEffectForm"></app-generic-checkbox></tr><hr>
                <tr><strong>scalp visibility placeholder</strong></tr><hr>
                <tr><strong>hair thickness placeholder</strong></tr><hr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step> <ng-template matStepLabel>Treatment/Lifestyle Profile</ng-template>
        <div>
            <table>
                <tr><app-generic-checkbox [question]="treatmentHistoryQuestion" [options]="treatmentHistoryForm"></app-generic-checkbox></tr><hr>
                <tr><app-generic-radiobutton [question]="chemicallyProcessedDurationQuestion" [options]="chemicallyProcessedDurationOptions"></app-generic-radiobutton></tr><hr>
                <tr><app-generic-thumb-label-slider [question]="exerciseFrequencyQuestion" [min]="exerciseFrequencyParams.min" [max]="exerciseFrequencyParams.max" [step]="exerciseFrequencyParams.step"></app-generic-thumb-label-slider><hr>
                <tr><app-generic-thumb-label-slider [question]="shampooFrequencyQuestion" [min]="shampooFrequencyParams.min" [max]="shampooFrequencyParams.max" [step]="shampooFrequencyParams.step"></app-generic-thumb-label-slider><hr>
                <tr><app-generic-radiobutton [question]="hotToolsFrequencyQuestion" [options]="hotToolsFrequencyOptions"></app-generic-radiobutton></tr><hr>
                <tr><app-generic-checkbox [question]="stylingProductQuestion" [options]="stylingProductForm"></app-generic-checkbox></tr><hr>
                <tr><app-generic-thumb-label-slider [question]="stylingProductFrequencyQuestion" [min]="stylingProductFrequencyParams.min" [max]="stylingProductFrequencyParams.max" [step]="stylingProductFrequencyParams.step" [unit]="stylingProductFrequencyParams.unit"></app-generic-thumb-label-slider><hr>
                <tr><app-generic-checkbox [question]="scalpTreatmentQuestion" [options]="scalpTreatmentForm"></app-generic-checkbox></tr><hr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step> <ng-template matStepLabel>Preferences and Miscellaneous </ng-template>
        <div>
            <table>
                <tr><app-generic-thumb-label-slider [question]="productQuantityQuestion" [min]="productQuantityParams.min" [max]="productQuantityParams.max" [step]="productQuantityParams.step"></app-generic-thumb-label-slider></tr><hr>
                <tr>
                    <p>How much do you want to spend in total?</p>
                    <input type="number">
                    <strong>fix this</strong>
                </tr><hr>
                <tr>
                    <label>Where do you purchase your hair products?</label>
                    <p>This is so we can recommend products based on where you shop!</p>
                    <input type="text">
                </tr><hr>
                <tr>
                    <label>What is your Zipcode?</label>
                    <p>We include this so that we can check on the water quality to see if you may need to detox</p>
                    <input type="number">
                </tr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Final</ng-template>
        <div>
            <table>
                <tr>
                    <br> <label>Do you have any questions for our hair care experts?</label>
                    <br> <input type="text">
                    <strong>make this prettier :)</strong>
                </tr>
                <tr>
                    <div style="max-width:750px;">
                        <br> <br> Our Research Program and Consent Form
                        <br> <br> Last Updated: September 20, 2022
                        <br> <br> Part of our mission is to participate in research for the purpose of expanding our knowledge and understanding of hair care, hair health, and personal care product development.
                        <br> <br> If you are enrolled in our research program, you may be asked to provide various assessments about your hair, including, but not limited to, research questionnaire responses, photos of your hair, current hair product labels, your hair scalp photos,  and/or samples for laboratory assessment (collectively the “Reported  Information”). As part of our research program, we will aggregate this Reported Information, analyze data against  reference databases, benchmark data, literature, and provide insights about your hair condition and hair health. In addition, we will  analyze the grouped data in aggregate in order to unearth findings related to hair health and product development. Aggregate data will not reveal any personal information, all data will be masked and scrubbed for personal information. 
                        <br> <br> If you are enrolled in our research program, we may use some or all of your information and Reported  Information to conduct research and publish the results of that research in peer-reviewed publications and other  works of literature. We also have the right to leverage aggregate data to optimize our proprietary algorithms.  Consumers have the right to individual data but no rights to our aggregate data. We take privacy very seriously. You  understand that, by providing any samples, having your hair and scalp information processed, accessing your hair analysis information, or providing your Reported Information, you acquire no rights in any research or  commercial products that may be developed by us or our collaborating partners and you specifically understand that  you will not receive compensation for any research or commercial products that include or result from your hair care information or Self-Reported Information.  
                        <br> <br> We will not use any identifiable information about you or any other humans in our research or in any publication. Nor  will we identify your name or other identifying information in any publication.  
                        <br> <br> At any time, you may withdraw your consent to participate in our research program by emailing us at  info&#64;foliq.me. Any withdrawal of consent will take effect after thirty (30) days. We will not reverse, undo or  withdraw any research or publication that was performed using your information before that date.  
                        <br> <br> We may withdraw your Reported Information from, or terminate, any research we undertake at any time without  your consent. In all cases, your information will continue to be subject to our Privacy Policy available  on our website –    
                    </div>
                </tr>
                <tr>
                    <br> <label>Please enter the order number associated wtih your hair analysis order</label>
                    <br> <input type="text">
                    <strong>make this prettier :)</strong>
                </tr>
            </table>
        </div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p style="color:white">You are now done.</p>
    <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
    </mat-step>
</mat-stepper>